@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #F0F2F5;
  --hover-gray: #e2e3e8;
  --blue: #1A80E5;
  --hover-blue: #1a75cf;
}

@theme {
  --color-background: var(--white);
  --color-foreground: var(--black);
  --color-custom-blue: var(--blue);
  --color-hover-blue: var(--hover-blue);
  --color-custom-gray: var(--gray);
  --color-hover-gray: var(--hover-gray);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--white);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
